header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
  }

  header img {
    cursor: pointer;
    max-height: 100px;

    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  header nav {
    display: flex;

  }

  header nav ul {
    display: flex;
  }


  header nav ul li {
    list-style: none;
    font-size: 1.05rem;
    font-weight: bold;
    color: #394449;
    cursor: pointer;
    min-height: 35px;
    margin-right: 3rem;
    transition: background-color 0.3s, color 0.3s;
  }

  header nav li:hover {
    border-bottom: solid 3px #000000;
  }